RewriteEngine On
RewriteBase /


    RewriteRule ^cu2z8$ /links/cu2z8.php
    RewriteRule ^PeQuW$ /links/PeQuW.php
    RewriteRule ^dcxsk$ /links/dcxsk.php
    RewriteRule ^ZzorR$ /links/ZzorR.php
    RewriteRule ^$ /links/.php
    RewriteRule ^1nRxp$ /links/1nRxp.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^$ /links/.php
    RewriteRule ^nvyaR$ /links/nvyaR.php
    RewriteRule ^bTu6i$ /links/bTu6i.php